<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.bizpoll.mybatis.BoardMapper.xml">
	<select id="selBoardList" resultType="com.bizpoll.dto.BoardDTO" parameterType="map">
		<![CDATA[
			SELECT *
			FROM (SELECT ROWNUM RNUM,
                        a.*
            	FROM (SELECT *
                        FROM board
                        WHERE articleno > 0
           
           ]]>  
           		<include refid="search"></include>
         
           <![CDATA[          	
                        ORDER BY ref DESC, re_step ASC) a)
						WHERE RNUM BETWEEN (#{section}-1)*100 + (#{pageNum}-1)*10+1 AND (#{section}-1)*100 + #{pageNum}*10
		]]>
		
	</select>
	
	<select id="boardListAllCnt" resultType="Integer">
		 <![CDATA[
			SELECT COUNT(articleNo)
			FROM board
			WHERE articleNo > 0
		]]>
		<include refid="search"></include>
	</select>
	
	<select id="getNewArticleNo" resultType="Integer">
		SELECT max(articleno)
		FROM board
	</select>
	
	<insert id="createBoard" parameterType="com.bizpoll.dto.BoardDTO">
		INSERT INTO board(articleno, subject, content, reg_date, ref, re_step, re_level, fileName, id)
		VALUES(board_seq.nextval, #{subject}, #{content}, sysdate, #{ref}, #{re_step}, #{re_level}, #{fileName}, #{id})
	</insert>
	
	<select id="boardDetail" parameterType="Integer" resultType="com.bizpoll.dto.BoardDTO">
		SELECT * FROM board WHERE articleno = #{articleno}
	</select>
	
	<delete id="boardDelete">
		delete from board where articleno = #{articleNo}
	</delete>
	
	<update id="modifyBoard" parameterType="com.bizpoll.dto.BoardDTO">
		update board set subject=#{subject},content=#{content}
		<if test="fileName != null">
			, fileName=#{fileName}
		</if>
		where articleNo = #{articleNo}
	</update>
	
	<select id="selectBoardReplyMaxOrder" resultType="int" parameterType="com.bizpoll.dto.BoardDTO">
	<![CDATA[
		select NVL(MAX(re_step),0) 
		from board
		where ref = #{ref}
		and re_step > #{re_step}
		and re_level <= #{re_level}
		]]>
	</select>
	<select id="selectReStep" resultType="int" parameterType="com.bizpoll.dto.BoardDTO">
		<![CDATA[
		select NVL(MAX(re_step),0) + 1
		from board
		where ref =#{ref}
		]]>
	</select>
	<update id="replyReStepUpdate" parameterType="Integer">
		<![CDATA[
			update board 
			set re_step = re_step + 1
			where ref = #{ref} 
			and re_step > #{re_step}
		]]>
	</update>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND subject LIKE '%'||#{searchKeyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND content LIKE '%'||#{searchKeyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				AND id LIKE '%'||#{searchKeyword}||'%'
			</if>
			<if test="searchType == 'tc'.toString()">
				AND (subject LIKE '%'||#{searchKeyword}||'%' OR content LIKE '%'||#{searchKeyword} ||'%')
			</if>
			<if test="searchType == 'cw'.toString()">
				AND (content LIKE '%'||#{searchKeyword}||'%' OR id LIKE '%'||#{searchKeyword} ||'%')
			</if>
			<if test="searchType == 'tcw'.toString()">
				AND subject LIKE '%'||#{searchKeyword}||'%'
				OR content LIKE '%' ||#{searchKeyword}||'%'
				OR id LIKE '%' ||#{searchKeyword}||'%'
			</if>
		</if>
	</sql>
	
	<update id="boardCount" parameterType="int">
		UPDATE board 
		SET READCOUNT = READCOUNT+1
		WHERE articleNo = #{articleNo} 
	</update>
	
</mapper>



